.cart{
    text-align: center;
    font-size: 25px;
}

.cart h2{
    font-family:cursive ;
}
.item{
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.item span{
    padding: 0 15px;
    border-bottom:3px solid black ;
}